{% include 'header.tmpl' %}

{%include 'navbar_top.tmpl' %}

<div class="container">

<div class="table-responsive">
  <a href="?cmd=admin-suppliers&subcmd=new">Create a new supplier entry</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Supplier</td>
      <td>Description</td>
    </tr>
    </thead>

    <tbody>
    {% for supplier in suppliers %}
    <tr>
      <td><a href="index.php?cmd=admin-suppliers&subcmd=edit&suppid={{ supplier.id }}"</a>{{ supplier.id }}</a></td>
      <td>{{ supplier.supplier }}</td>
      <td>{{ supplier.description }}</td>
    </tr>
    {% endfor %}
    </tbody>

  </table>

</div>

</div>

{% include 'footer.tmpl' %}
