{% include 'header.tmpl' %}

{%include 'navbar_top.tmpl' %}

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
<div class="container">


<form class="form-horizontal" action="index.php" method="post">
<!--<input type="hidden" name="name" value="Asset">-->
<input type="hidden" name="assetno" value="{{ assetData.asset }}"/>
<input type="hidden" name="cmd" value="{{ cfgData.cmd }}">

<div class="row">

  <div class="form-group">
    <div class="col-sm-2">
      <label for="asset" class="control-label">Asset</label>
      <input type="text" class="form-control" id="asset" name="asset" placeholder="Asset" disabled="disabled" value="{{ assetData.asset }}">
    </div>
    <div class="col-sm-4">
      <label for="productcode" class="control-label">Productcode</label>
      <input type="text" class="form-control" id="productcode" name="productcode" placeholder="Productcode" value="{{ assetData.productcode }}">
    </div>
    <div class="col-sm-6">
      <label for="introduced" class="control-label">Introduced</label>
      <input type="text" class="form-control" id="introduced" name="introduced" placeholder="Introduced" value="{{ assetData.introduced }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="manufacturer">Make</label>
      <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer" value="{{ assetData.manufacturer }}">
    </div>
    <div class="col-sm-6">
      <label for="model">Model</label>
      <input type="text" class="form-control" id="model" name="model" placeholder="Model" value="{{ assetData.model }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{ assetData.description }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="long_description">Long description</label>
      <textarea class="form-control" rows="4" id="long_description" name="long_description" placeholder="Description">{{ assetData.long_description }}</textarea>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="serial">Serial</label>
      <input type="text" class="form-control" id="serial" name="serial" placeholder="Serial number" value="{{ assetData.serial }}">
    </div>
    <div class="col-sm-6">
      <label for="category">Category</label>
      <select class="form-control" name="category" id="category">
        <option value="0">No status selected</option>
        {% for category in categories %}
        {% if category.id == assetData.category %}
          <option value="{{ category.id }}" selected>{{ category.category }}</option>
        {% else %}
          <option value="{{ category.id }}">{{ category.category }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="status">Status</label>
       <select name="status" id="status" class="form-control">
         <option value="0">No status selected</option>
        {% for stat in status %}
        {% if stat.id == assetData.status %}
          <option value="{{ stat.id }}" selected>{{ stat.status }}</option>
        {% else %}
          <option value="{{ stat.id }}">{{ stat.status }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </select>
    </div>
    <div class="col-sm-6">
      <label for="owner_dep">Department</label>
      <select name="owner_dep" id="owner_dep" class="form-control">
        <option value="0">No department selected</option>
        {% for dep in departments %}
        {% if dep.id == assetData.owner_dep %}
          <option value="{{ dep.id }}" selected>{{ dep.department }}</option>
        {% else %}
          <option value="{{ dep.id }}">{{ dep.department }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </select>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="client">Client/user</label>
      <select name="client" id="client" class="form-control">
        <option value="0">No client selected</option>
        {% for client in clients %}
        {% if client.id == assetData.client %}
          <option value="{{ client.id }}" selected>{{ client.client }}</option>
        {% else %}
          <option value="{{ client.id }}">{{ client.client }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-6">
      <label for="barcode">Barcode</label>
      <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Barcode" value="{{ assetData.barcode }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="supplier">Supplier</label>
      <select name="supplier" id="supplier" class="form-control">
        <option value="0">Unknown</option>
        {% for supplier in suppliers %}
        {% if supplier.id == assetData.supplier %}
          <option value="{{ supplier.id }}" selected>{{ supplier.supplier }}</option>
        {% else %}
          <option value="{{ supplier.id }}">{{ supplier.supplier }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-6">
      <label for="supplier_artno">Suppliers artno</label>
      <input type="text" class="form-control" id="supplier_artno" name="supplier_artno" placeholder="Suppliers artno" value="{{ assetData.supplier_artno }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="po_number" class="visible-md visible-lg">PO number</label>
      <input type="text" class="form-control visible-md visible-lg" id="po_number" name="po_number" placeholder="PO number" value="{{ assetData.po_number }}">
      {% if poItems %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          View PO items
      </button>
      {% endif %}
    </div>
    <div class="col-sm-6">
      <label for="manuf_invoice" class="visible-md visible-lg">Invoice</label>
      <input type="text" class="form-control visible-md visible-lg" id="manuf_invoice" name="manuf_invoice" placeholder="Invoice" value="{{ assetData.manuf_invoice }}">
    </div>
  </div>

</div>

{# If there are any purchase order items for the asset list them in a model window #}
{% if poItems %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Purchase Order Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

          <table>
            <tr>
              <td>Item</td>
              <td>Quantity</td>
              <td>Price</td>
            </tr>

            {% for poItem in poItems %}

            <tr>
              <td>{{ poItem.item}}</td>
              <td>{{ poItem.qty }}</td>
              <td>{{ poItem.price }}</td>
            </tr>

            {% endfor %}

        </table>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
{% endif %}
{# End Modal window for PO items #}


{# A modal window used to allow the user to enter a log message when saving data #}
<!-- Modal -->
<div class="modal fade" id="saveAssetLog" tabindex="-1" role="dialog" aria-labelledby="Save asset log" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Asset Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

          <table>
            <tr>
              <td>Enter a log message describing the reason for editing the asset (leave empty for default message)</td>
            </tr>

            <tr>
              <td><input type="text" id="asset_log_message" name="asset_log_message" placeholder="Asset log message" size="40"/></td>
            </tr>
        </table>

        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{# End Modal window for log data #}


{# Show a submit button, but only if the user is logged in #}
{% if cfgData.priv != false %}
<div class="row">

  <div class="btn-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveAssetLog">Save with history</button>
      <!--<button type="button" class="btn btn-primary">Duplicate</button>-->
      <!--<button type="button" class="btn btn-primary">Delete</button>-->
    </div>
  </div>

</div>
{% endif %}

</form>


{# Time stamps #}
<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="asset_entry_created_by" class="control-label">Entry created by</label>
      <p class="form-control-static">{{ assetData.asset_entry_created_by }}</p>
    </div>
    <div class="col-sm-6">
      <label for="asset_modified_by" class="control-label">Entry modified by</label>
      <p class="form-control-static">{{ assetData.asset_modified_by }}</p>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="asset_entry_created" class="control-label">Entry created</label>
      <p class="form-control-static">{{ assetData.asset_entry_created }}</p>
    </div>
    <div class="col-sm-6">
      <label for="asset_modified" class="control-label">Entry modified</label>
      <p class="form-control-static">{{ assetData.asset_modified }}</p>
    </div>
  </div>

</div> {# End <div class="container..." #}

{# Display log messages for the asset #}
<div class="row">
<table>
<tr>
  <td>Log message</td>
  <td>Entered by</td>
  <td>Updated</td>
</tr>
{% for logMessage in logMessages %}
<tr>
  <td>{{ logMessage.comment }}</td>
  <td>{{ logMessage.updated_by }}</td>
  <td>{{ logMessage.updated_time }}</td>
</tr>
{% endfor %}
</table>
</div>


{% include 'footer.tmpl' %}
