{% include 'header.tmpl' %}

{%include 'navbar_top.tmpl' %}

<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
<div class="container">


<form class="form-horizontal" action="index.php" method="post">
<!--<input type="hidden" name="name" value="Asset">-->
<input type="hidden" name="assetno" value="{{ assetData.asset }}"/>
<input type="hidden" name="cmd" value="{{ cfgData.cmd }}">

<div class="row">

  <div class="form-group">
    <div class="col-sm-2">
      <label for="asset" class="control-label">Asset</label>
      <input type="text" class="form-control" id="asset" name="asset" placeholder="Asset" disabled="disabled" value="{{ assetData.asset }}">
    </div>
    <div class="col-sm-4">
      <label for="productcode" class="control-label">Productcode</label>
      <input type="text" class="form-control" id="productcode" name="productcode" placeholder="Productcode" value="{{ assetData.productcode }}">
    </div>
    <div class="col-sm-6">
      <label for="introduced" class="control-label">Introduced</label>
      <input type="text" class="form-control" id="introduced" name="introduced" placeholder="Introduced" value="{{ assetData.introduced }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="manufacturer">Make</label>
      <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer" value="{{ assetData.manufacturer }}">
    </div>
    <div class="col-sm-6">
      <label for="model">Model</label>
      <input type="text" class="form-control" id="model" name="model" placeholder="Model" value="{{ assetData.model }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{ assetData.description }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="serial">Serial</label>
      <input type="text" class="form-control" id="serial" name="serial" placeholder="Serial number" value="{{ assetData.serial }}">
    </div>
    <div class="col-sm-6">
      <label for="category">Category</label>
      <select class="form-control" name="category" id="category">
        <option value="0">No status selected</option>
        {% for category in categories %}
        {% if category.id == assetData.category %}
          <option value="{{ category.id }}" selected>{{ category.category }}</option>
        {% else %}
          <option value="{{ category.id }}">{{ category.category }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="status">Status</label>
       <select name="status" id="status" class="form-control">
         <option value="0">No status selected</option>
        {% for stat in status %}
        {% if stat.id == assetData.status %}
          <option value="{{ stat.id }}" selected>{{ stat.status }}</option>
        {% else %}
          <option value="{{ stat.id }}">{{ stat.status }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </select>
    </div>
    <div class="col-sm-6">
      <label for="owner_dep">Department</label>
      <select name="owner_dep" id="owner_dep" class="form-control">
        <option value="0">No department selected</option>
        {% for dep in departments %}
        {% if dep.id == assetData.owner_dep %}
          <option value="{{ dep.id }}" selected>{{ dep.department }}</option>
        {% else %}
          <option value="{{ dep.id }}">{{ dep.department }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </select>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="client">Client/user</label>
      <select name="client" id="client" class="form-control">
        <option value="0">No client selected</option>
        {% for client in clients %}
        {% if client.id == assetData.client %}
          <option value="{{ client.id }}" selected>{{ client.client }}</option>
        {% else %}
          <option value="{{ client.id }}">{{ client.client }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-6">
      <label for="barcode">Barcode</label>
      <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Barcode" value="{{ assetData.barcode }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-group">
    <div class="col-sm-6">
      <label for="supplier">Supplier</label>
      <select name="supplier" id="supplier" class="form-control">
        <option value="0">Unknown</option>
        {% for supplier in suppliers %}
        {% if supplier.id == assetData.supplier %}
          <option value="{{ supplier.id }}" selected>{{ supplier.supplier }}</option>
        {% else %}
          <option value="{{ supplier.id }}">{{ supplier.supplier }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-6">
      <label for="supplier_artno">Suppliers artno</label>
      <input type="text" class="form-control" id="supplier_artno" name="supplier_artno" placeholder="Suppliers artno" value="{{ assetData.supplier_artno }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="po_number" class="visible-md visible-lg">PO number</label>
      <input type="text" class="form-control visible-md visible-lg" id="po_number" name="po_number" placeholder="PO number" value="{{ assetData.po_number }}">
    </div>
    <div class="col-sm-6">
      <label for="manuf_invoice" class="visible-md visible-lg">Invoice</label>
      <input type="text" class="form-control visible-md visible-lg" id="manuf_invoice" name="manuf_invoice" placeholder="Invoice" value="{{ assetData.manuf_invoice }}">
    </div>
  </div>

</div>


{# Show a submit button, but only if the user is logged in #}
{% if cfgData.priv != false %}
<div class="row">

  <div class="btn-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Save</button>
      <!--<button type="button" class="btn btn-primary">Duplicate</button>-->
      <!--<button type="button" class="btn btn-primary">Delete</button>-->
    </div>
  </div>

</div>
{% endif %}

</form>


{# Time stamps #}
<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="asset_entry_created_by" class="control-label">Entry created by</label>
      <p class="form-control-static">{{ assetData.asset_entry_created_by }}</p>
    </div>
    <div class="col-sm-6">
      <label for="asset_modified_by" class="control-label">Entry modified by</label>
      <p class="form-control-static">{{ assetData.asset_modified_by }}</p>
    </div>
  </div>

</div>

<div class="row">

  <div class="form-inline form-group">
    <div class="col-sm-6">
      <label for="asset_entry_created" class="control-label">Entry created</label>
      <p class="form-control-static">{{ assetData.asset_entry_created }}</p>
    </div>
    <div class="col-sm-6">
      <label for="asset_modified" class="control-label">Entry modified</label>
      <p class="form-control-static">{{ assetData.asset_modified }}</p>
    </div>
  </div>

</row>

</div> {# End <div class="container..." #}


{% include 'footer.tmpl' %}
